*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/html2/images/New\ Project.png');
    font-family: 'nexa_lightregular';
}

a, button{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 1.9cm;
    background-color: #108073;
}

.left{
    display: flex;
}

.left img{
    margin: 0.8% 0 0 3%;
}

.center{
    justify-content: space-around;
    width: 50%;
    margin: 2% 0 0 24%;
}

.center a{
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.center img{
    height: 25px;
    width: 25px;
    border-radius: 36%;
    margin: 3px 0px 0px -25px;
}

.center a:hover{
    border-bottom:  1px solid white;
}

.container{
    height: 14.3cm;
    width: 100%;
    background-color: white;
}

.header2 h2{
    text-align: center;
    line-height: 4;
    color: black;
    font-size: 30px;
}

table{
    width: 100%
}

table, td{
    line-height: 2.5;
    text-align: center;
}

td img{
    width: 25px;
    height: 25px;
}

.btn{
    justify-content: center;
}

.btn button{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    width: 3cm;
    margin: 25px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}

.btn button:hover{
    background: #0e4f66;
    border-color: #0e4f66;
    color: white;
    border: none;
}

.footer{
    width: 100%;
    height: 1.4cm;
    background-color: #0e4f66;
}

.footer p{
    text-align: center;
    padding: 21px 0 0 0;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    .center{
        display: none;
    }

    .left img{
        margin: 2% 0 0 3%;
    }
}