*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/html2/images/New\ Project.png');
    font-family: 'nexa_lightregular';
}

a, button{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 1.6cm;
    background-color: #108073;
}

.left{
    display: flex;
}

.jus{
    justify-content: center;
}

.left img{
    margin: 5px 0px 0 30px;
}

.center{
    justify-content: space-around;
    width: 50%;
    margin-left: 24%;
    align-items: center;
}

.center a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.center img{
    height: 25px;
    width: 25px;
    border-radius: 36%;
    margin: 3px 0px 0px -25px;
}

.center a:hover{
    border-bottom:  1px solid white;
}

.right a{
    display: none;
}

.right{
    margin: 14px auto;
}

.background{
    width: 100%;
}

.container{
    height: 30cm;
    width: 100%;
    background-color: white;
}

span{
    display: flex;
    justify-content: center;
    line-height: 3;
    font-size: x-large;
    color: cornflowerblue;
    font-weight: bold;
}

.btn2{
    justify-content: space-evenly;
    width: 18cm;
    margin: 0 auto;
}

.btn2 p{
    border-radius: 50%;
    height: 20px;
    background-color: #fff;
    color: black;
    width: 20px;
    line-height: 1.6;
}

.btn2 button{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 3.5cm;
    border-radius: 5px;
    border: 1px solid black;
    background: none;
    transition: 0.5s ease-in-out;
}

.btn2 button:hover{
    background-color: darkolivegreen;
    color: #fff;
}

.btn3{
    margin-right: 3%;
    align-items: center;
}

.btn3 button{
    padding: 6px;
    width: 2cm;
    margin: 5px;
    background: no-repeat;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.btn3 button:hover{
    background-color: darkolivegreen;
    color: #fff;
}

.btn4 input{
    padding: 5px;
    margin: 5px;
    width: 7cm;
    border: 1px solid black;
    border-radius: 5px;
}

.btn5 button{
    padding: 5px;
    width: 2cm;
    background: none;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    transition: 0.5s linear;
}

.btn5 button:hover{
    background-color: darkolivegreen;
    color: #fff;
}

.border{
    border: 1px solid black;
    border-radius: 5px;
    width: 77%;
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
}

.eligibility{
    flex-direction: column;
    align-items: self-start;
    margin: 1.8% 4% 0px -9%;
    line-height: 1.6;
}

.eligibility a{
    text-decoration: none;
    color: black;
}

.img2{
    white-space: pre-line;
    line-height: 1.3;
}

.img2 img{
    width: 20px;
    height: 20px;
}

.head{
    margin-left: 3%;
}

.head h2{
    margin-top: 3%;
    color: cadetblue;
}

.head p{
    margin-top: 2%;
    width: 11cm;
    line-height: 1.8;
}

.pagination{
    justify-content: center;
    margin-top: 3%;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 45%;
  transition: 0.3s linear;
}

.pagination a:hover{
    background-color: darkolivegreen;
    color: white;
}

.footer{
    width: 100%;
    height: 1.3cm;
    background-color: #0e4f66;
}

.footer p{
    text-align: center;
    padding: 16px 0 0 0;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .center a{
        display: none;
    }

    .center img{
        display: none;
    }

.left img{
    height: 35px;
    width: 35px;
    margin: 13px 0px 0 0;
}

.left h3{
    font-size: medium;
    margin-top: 20px;
}

.left2{
    width: 53%;
}

.right{
    margin: 12px 2px 0 0;
}

.right button{
    width: 60px;
}

.container{
    margin: -1px auto;
}

i{
    margin-right: 13px;
}

.right a{
    display: inline-block;
    margin: 8px 0px 0px 11px;
    color: white;
    font-size: 23px;
}
}