*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/html2/images/New\ Project.png');
    font-family: 'nexa_lightregular';
}

a, button{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 1.6cm;
    background-color: #108073;
}

.left{
    display: flex;
}

.left img{
    margin: 5px 0px 0 30px;
}

.center{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 24%;
    align-items: center;
}

.center a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.center img{
    height: 25px;
    width: 25px;
    border-radius: 36%;
    margin: 3px 0px 0px -25px;
}

.center a:hover{
    border-bottom:  1px solid white;
}

.right a{
    display: none;
}

.right{
    display: flex;
    margin: 14px auto;
}

.background{
    width: 100%;
}

.container{
    height: 14.3cm;
    width: 100%;
    display: flex;
    background-color: white;
}

.left2{
    width: 35%;
    height: 13.5cm;
    margin-right: 11.1%;
    background: whitesmoke;
}

.left2 img{
    width: 20px;
    height: 20px;
    margin-left: -7%;
    vertical-align: middle;
}

.left2 input{
    margin-left: 20%;
    padding: 5px;
    width: 9cm;
    border: 1px solid black;
    border-radius: 5px;
}

.left2 h2{
    margin-left: 20%;
    line-height: 3;
    color: #3d6a3d;
}

.right2{
    margin-left: 5%;
}

.right2 h2{
    color: #3d6a3d;
    margin: 4% 0 0 -40%;
    width: 10cm;
}

table{
    border: none;
    width: 100%;
}

table, th, td{
    line-height: 3;
    margin: 0 13pc 0 -2pc;
}

table td{
    margin-left: 3pc;
    text-align: right;
}

ul, li{
    margin: 11%;
    cursor: pointer;
    line-height: 1.5;
    transition: 0.3s ease-in-out;
}

li .profile{
    background: gray;
    border-radius: 50%;
    margin-left: -8%;
}

li:hover{
    background-color: #3d6a3d;
    border-radius: 3px;
    color: white;
}

.wel{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wel button{
    padding: 5px;
    margin-right: -29%;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.wel button:hover{
    background-color:green;
    color: white;
}

.client{
    display: flex;
    margin: 10% 0 0 -40%;
}

.client input{
    margin-left: 3%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}

.client ::placeholder{
    text-align: center;
    color: black;
}

.client img{
    background-color: #3d6a3d;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-top: 7px;
}

.user{
    display: flex;
    margin: 10% 0 0 90%;
}

.user input{
    margin-left: 3%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid black;
}

.user ::placeholder{
    text-align: center;
    color: black;
}

.user img{
    background-color: #3d6a3d;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 7px 0 0 12px;
}

.message{
    display: flex;
    justify-content:space-between ;
    margin-top: 50%;
}

.message p{
    margin-left: -37%;
}

.message button{
    width: 2cm;
    padding: 5px;
    margin-right: -29%;
    background: none;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}

.message button:hover{
    background-color: green;
    color: white;
}

.footer{
    width: 100%;
    height: 1.7cm;
    background-color: #0e4f66;
}

.footer p{
    text-align: center;
    padding: 21px 0 0 0;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .center a{
        display: none;
    }

    .center img{
        display: none;
    }

.left img{
    height: 35px;
    width: 35px;
    margin: 13px 0px 0 0;
}

.left h3{
    font-size: medium;
    margin-top: 20px;
}

.left2{
    width: 53%;
}

.right{
    margin: 12px 2px 0 0;
}

.right button{
    width: 60px;
}

.container{
    margin: -1px auto;
}

i{
    margin-right: 13px;
}

.right a{
    display: inline-block;
    margin: 8px 0px 0px 11px;
    color: white;
    font-size: 23px;
}
}