*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/html2/images/New\ Project.png');
    font-family: 'nexa_lightregular';
}

a, button{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 1.7cm;
    background-color: #108073;
}

.left{
    display: flex;
    height: 1.6cm;
}

.left img{
    margin: 5px 0px 0 30px;
}

.center{
    display: flex;
    justify-content: space-evenly;
    width: 66%;
    align-items: center;
}

.center a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.center img{
    height: 15px;
    width: 15px;
    margin: 3px 0px 0px -25px;
}

.center a:hover{
    border-bottom:  1px solid white;
}

.right{
    display: flex;
    margin: 14px auto;
    align-items: center;
}

.right button{
    margin: 8px;
    padding: 5px;
    width: 80px;
    background: none;
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-radius: 4px;
    color: white;
    transition: 0.3s ease-in-out;
}

.right a{
    display: none;
}

.right button:hover{
    background-color: cornflowerblue;
}

.background{
    width: 100%;
    height: 1.7cm;
    background-color: #108073;

}

i{
    margin: 3px;
}

.container{
    height: 14.54cm;
    width: 55%;
    margin: 0 auto;
    background-color: white;
}

.text{
    padding: 80px 0 0 0;
    text-align: center;
    line-height: 65px;
}

.text h2{
    color: #3d6a3d;
}


.form{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}

.icon{
    border: 1px solid black;
    border-right: none;
    background-color:black;
    width: 5%;
    margin-left: 2%;
    border-radius: 4px;
}

.icon img{
    width: 15px;
    margin: 5px 0 -6px 10px;
}

.hide img{
    background:  none;
    height: 13px;
    margin: 13px 0 0px -24px;
}

.fname{
    margin: 0 0 0 -38px;
}

.fname input{
    padding: 7px 45px;
    width: 6cm;
    background: none;
    border: 1px solid black;
    border-radius: 4px;
}

.fname ::placeholder{
    text-align: center;
}

.check{
    text-align: center;
    margin-top: 5%;
}

.check span{
    vertical-align: 3px;
}

.check a{
    vertical-align: 3px;
}

.footer{
    width: 100%;
    height: 1.5cm;
    background-color: #0e4f66;
    margin-top: 6px;
}

.footer p{
    text-align: center;
    padding: 20px 0 0 0;
    color: #fff;
}

.btn{
    border: none;
    color: black;
    border-radius: 5px;
    border: 1px solid black;
    padding: 6px 30px;
    text-align: center;
    font-size: 16px;
    background: none;
    margin: 0 auto;
    margin: 5% 36%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    background-color: cornflowerblue;
    border: none;
}

@media only screen and (max-width: 600px) {
    .center a{
        display: none;
    }

    .center img{
        display: none;
    }

.left img{
    height: 35px;
    width: 35px;
    margin: 14px 0px 0 0;
}

.left h3{
    font-size: medium;
}

.right{
    margin: 12px 2px 0 0;
}

.right button{
    display: none;
}

.container{
    margin: -1px auto;
}

.btn{
    margin: 6% 12%;
}

.right a{
    display: inline-block;
    margin: 8px 0px 0px 11px;
    color: white;
    font-size: 23px;
}

.text h2{
    font-size: 18px;
}
}