*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('/html2/images/New\ Project.png');
    font-family: 'nexa_lightregular';
}

a, button{
    cursor: pointer;
}

.header{
    width: 100%;
    height: 1.7cm;
    background-color: #108073;
}

.left{
    display: flex;
}

.left img{
    margin: 3px 0px 0 30px;
    height: 1.6cm;
}

.center{
    display: flex;
    justify-content: space-evenly;
    width: 66%;
    align-items: center;
}

.center a{
    text-decoration: none;
    color: white;
    transition: 0.3s ease-in-out;
}

.center img{
    height: 15px;
    width: 15px;
    margin: 3px 0px 0px -25px;
}

.center a:hover{
    border-bottom:  1px solid white;
}

.right{
    display: flex;
    margin: 14px auto;
    align-items: center;
}

.right button{
    margin: 8px;
    padding: 5px;
    width: 80px;
    background: none;
    border: 1px solid white;
    border-bottom: 2px solid white;
    border-radius: 4px;
    color: white;
    transition: 0.3s ease-in-out;
}

.right a{
    display: none;
}

.right button:hover{
    background-color: cornflowerblue;
}

.background{
    width: 100%;
}

i{
    margin: 3px;
}

.container{
    height: 14.3cm;
    width: 55%;
    margin: 2px auto;
    background-color: white;
}

.text{
    padding: 80px 0 0 0;
    text-align: center;
    line-height: 65px;
}

.text h2{
    color: #3d6a3d;
}

.text p{
    margin-top: 10%;
}

.btn a{
    border: 1px solid green;
    display: flex;
    justify-content: center;
    width: 30%;
    padding: 12px;
    margin: 12px auto;
    text-decoration: none;
    padding: 6px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

.btn a:hover{
    background-color:green;
    color: #fff;
}

.footer{
    width: 100%;
    height: 1.4cm;
    background-color: #0e4f66;
}

.footer p{
    text-align: center;
    padding: 20px 0 0 0;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .center a{
        display: none;
    }

    .center img{
        display: none;
    }

.left img{
    height: 35px;
    width: 35px;
    margin: 14px 0px 0 0;
}

.left h3{
    font-size: medium;
}

.right{
    margin: 12px 2px 0 0;
}

.right button{
    width: 60px;
}

.container{
    margin: -1px auto;
}

.right a{
    display: inline-block;
    margin: 8px 0px 0px 11px;
    color: white;
    font-size: 23px;
}

.text h2{
    font-size: 19px;
}
}